{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Expense List</h1>
    <a href="{% url 'add_expense' %}"><button>Add Expense</button></a>
    <!-- Filter Form and Sort_by-->
    <form method="get" action="{% url 'expense_list' %}">
        <label for="category">Filter by Category:</label>
        <select name="category" id="category">
            <option value="">All Categories</option>
            <option value="food">Food</option>
            <option value="transport">Transport</option>
            <option value="entertainment">Entertainment</option>
            <option value="bills">Bills</option>
            <option value="other">Other</option>
        </select>
        <button type="submit">Filter</button>
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by">
            <option value="">Select</option>
            <option value="amount">Amount</option>
            <option value="date">Date</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Name</th>
                <th>Amount</th>              
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.get_category_display }}</td>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>
                        <form action="{% url 'edit_expense' expense.id %}" method="get">
                             <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'delete_expense' expense.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" style="background-color: red; color: white;">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
